<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>


<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('section[data-type="background"]').each(function(){-->
            <!--var $bgobj = $(this); // assigning the object-->

            <!--$(window).scroll(function() {-->
                <!--var yPos = -($window.scrollTop() / $bgobj.data('speed'));-->

                <!--// Put together our final background position-->
                <!--var coords = '50% '+ yPos + 'px';-->

                <!--// Move the background-->
                <!--$bgobj.css({ backgroundPosition: coords });-->
            <!--});-->
        <!--});-->
    <!--});-->
<!--</script>-->
<!--<link rel="stylesheet" href="css/aboutus.css">-->
<!--<div class="wrapper">-->

    <!--<div id="home" data-type="background" data-speed="10" class="demo blurs">-->
        <!--<h1 class="title" >About Us</h1><br>-->
        <!--<article>-->
         <!--Welcome to the Beta Kappa chapter of Georgia Tech's Lambda Chi Alpha. We are the choppers.-->
        <!--</article>-->
    <!--</div>-->

    <!--<div id="sec2" data-type="background" data-speed="10" class="demo blurs">-->
        <!--<article>-->
            <!--<h1 class="title" >Tradition</h1><br>-->
            <!--"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."-->
        <!--</article>-->
    <!--</div>-->
    <!--<div id="sec3" data-type="background" data-speed="10" class="demo blurs">-->
        <!--<article>-->
            <!--<h1 class="title" >The Thrill</h1><br>-->
            <!--"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."-->
        <!--</article>-->
    <!--</div>-->
<!--</div>-->

