
<div class="container" id="fullCont">


            <div id="myCarousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="partials/covers/wmb.jpg" alt="">
                        <div class="carousel-caption">
                            Watermelon Bust
                        </div>
                    </div>
                    <div class="item">
                        <img src="partials/covers/tug.jpg" alt="">
                        <div class="carousel-caption">
                            Tug
                        </div>
                    </div>
                    <div class="item">
                        <img src="partials/covers/mason.jpg" alt="">
                        <div class="carousel-caption">
                            Mason The Champion
                        </div>
                    </div>
                    <div class="item">
                        <img src="partials/covers/mcr.jpg" alt="">
                        <div class="carousel-caption">
                            Magic Carpet Ride
                        </div>
                    </div>

                    </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>
                </div>
</div>
<script>
    $('#myCarousel').carousel();
</script>