<style>
    #word{

        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
    }

    html, body {

        margin: 0;
        background-color: #EBEBEB;
    }

    #wrapper {
        min-height: 100%;
        min-width: 100%;
        background-color: #EBEBEB;
        text-align: center;
        height: 100%;

    }
    /*.styled-sort{*/
        /*width: 200px;*/
        /*height: 34px;*/
        /*overflow: hidden;*/
        /*background: url(new_arrow.png) no-repeat right #ddd;*/
        /*border: 1px solid #ccc;*/
    /*}*/

</style>
<div id="wrapper">

    <br>
    <iframe src="http://www.lcaword.com" marginheight="0" marginwidth="0" width="100%" height="100%"></iframe>
<!--Username:<br> <input ng-model="query" class="styled-sort"><br><br>-->
<!--Password:<br> <input ng-model="query" class="styled-sort">-->

</div>